{
	"plugins": ["prettier-plugin-svelte", "@trivago/prettier-plugin-sort-imports"],
	"tabWidth": 4,
	"useTabs": true,
	"printWidth": 120,
	"trailingComma": "es5",
	"semi": true,
	"importOrderParserPlugins": ["typescript", "decorators"],
	"importOrder": [
		"^svelte(.*)$",
		"<THIRD_PARTY_MODULES>",
		"^\\$lib/(.*).js$",
		"^\\$lib/(.*).svelte$",
		"^[./](.*).js$",
		"^[./](.*).svelte$"
	],
	"importOrderSeparation": false,
	"importOrderSortSpecifiers": true
}
