@font-face {
	font-family: Prompt;
	src: url("/Prompt-Light.ttf") format("truetype");
	font-style: normal;
	font-weight: 200;
}

@font-face {
	font-family: Prompt;
	src: url("/Prompt-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: Prompt;
	src: url("/Prompt-Black.ttf") format("truetype");
	font-style: normal;
	font-weight: 900;
}

@font-face {
	font-family: Prompt;
	src: url("/Prompt-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: 400;
}

html {
	font-family: Prompt;
	font-weight: 400;
}

body {
	background-color: #fef08a;
}

.container {
	width: 100%;
	margin: auto;
	max-width: 500px;
	line-height: 1.25em;
}

h1 {
	margin-bottom: 1em;
}

h2 {
	margin-top: 1.5em;
}

hr {
	margin-top: 2em;
}

hr + div {
	font-size: 80%;
	font-weight: lighter;
}

button {
	font-family: Prompt;
	height: 2.5em;
	min-width: 5em;
	background-color: #facc15;
	border-radius: 0.5em;
	padding: 0 0.5em;
}

@media only screen and (max-width: 600px) {
	button {
		height: 4em;
	}
}

button:disabled {
	background-color: lightgray;
	color: rgba(0, 0, 0, 0.8);
	padding: 0 0.5em;
}

input,
select {
	appearance: none;
	font-family: Prompt;
	box-sizing: content-box;
	width: 40%;
	padding: 0.33em;
	border: 1px solid #facc15;
}

option {
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	width: 100%;
}

tr {
	background-color: white;
}

th {
	padding: 0.25em 1em;
}

td {
	padding: 0.25em 1em;
	text-align: right;
	min-width: 3em;
}

td:first-child {
	font-weight: 600;
}

td:not(:first-child) {
	border-left: 1px solid #facc15;
}

option:nth-child(odd),
tr:nth-child(odd) {
	background-color: cornsilk;
}
